<div id="analytics-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">/{{shortUrlPath}}</h2>
        <form #f="ngForm" [formGroup]="form">
            <div class="uk-margin">
                <div uk-form-custom="target: > * > span:first-child">
                    <select name="dateOption" aria-label="Custom controls" formControlName="dateOption">
                        <option *ngFor="let item of dateOptions" [ngValue]="item">{{item.name}}</option>
                    </select>
                    <button class="uk-button uk-button-default" type="button" tabindex="-1">
                        <span></span>
                        <span uk-icon="icon: chevron-down"></span>
                    </button>
                </div>
            </div>
        </form>
        <div *ngIf="loading" class="uk-text-center">
            <span class="uk-margin" uk-spinner="ratio: 3"></span>
        </div>
        <canvas class="uk-height-large" *ngIf="!loading" baseChart width="400"  [type]="'line'" [data]="lineChartData"
            [options]="lineChartOptions" (legend)="lineChartLegend">
        </canvas>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
        </p>
    </div>
</div>