<main class="uk-container">
  <header>
    <div class="uk-flex-middle" uk-grid>
      <div class="uk-width-expand">
        <h1 class="uk-heading-small">
          <a class="uk-link-heading" href="#">brev</a>
        </h1>
      </div>
      <a class="uk-link-text uk-width-auto uk-flex uk-flex-middle" (click)="logout()">
        <span href=""  uk-icon="sign-out"></span>
        <span class="uk-margin-left">Logout</span>
      </a>
    </div>
    <div>
    </div>
  </header>
  <hr />
  <router-outlet>
  </router-outlet>
</main>